<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <h1><%= link_to app_name, root_path %></h1>
    </div>
    <%= render partial: 'layouts/flash_messages' %>
    <div class="main-content">
      <%= yield %>
    </div>
    <div class="footer">
      <hr />
      <%= app_name %>, powered by <%= link_to 'ggreg', 'https://github.com/rtopitt/ggreg' %>
    </div>
  </body>
</html>
